USE [master]
GO
/****** Object:  Database [DonutStore]    Script Date: 8/15/2017 9:25:31 AM ******/
CREATE DATABASE [DonutStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DonutStore', FILENAME = N'C:\src\DonutStore\Database\DonutStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DonutStore_log', FILENAME = N'C:\src\DonutStore\Database\DonutStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DonutStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DonutStore]
GO
USE [DonutStore]
GO
/****** Object:  Table [dbo].[Donuts]    Script Date: 8/15/2017 9:25:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donuts](
	[DonutId] [int] IDENTITY(1,1) NOT NULL,
	[Flavor] [nvarchar](200) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Donuts] PRIMARY KEY CLUSTERED 
(
	[DonutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Donuts] ON 

INSERT [dbo].[Donuts] ([DonutId], [Flavor], [Price], [ImageUrl]) VALUES (1, N'Glazed', CAST(1.99 AS Decimal(18, 2)), N'http://freebiechick.com/wp-content/uploads/2014/09/Free-Glazed-Donut-Krispy-Kreme-Talk-Like-A-Pirate-Day.jpg')
INSERT [dbo].[Donuts] ([DonutId], [Flavor], [Price], [ImageUrl]) VALUES (2, N'Chocolate', CAST(2.99 AS Decimal(18, 2)), N'http://www.bettervapes.com/assets/images/chocolateglazeddonut.jpg')
INSERT [dbo].[Donuts] ([DonutId], [Flavor], [Price], [ImageUrl]) VALUES (3, N'Sprinkle', CAST(2.99 AS Decimal(18, 2)), N'http://www.howsweeteats.com/wp-content/uploads/2015/06/strawberry-donuts-I-howsweeteats.com-7.jpg')
SET IDENTITY_INSERT [dbo].[Donuts] OFF
USE [master]
GO
